<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <jsp-config>
        <jsp-property-group>
            <display-name>Administrador</display-name>
            <url-pattern>/ajuda.jsp</url-pattern>
            <url-pattern>/adiciona-login.jsp</url-pattern>
            <url-pattern>/altera-funcionario.jsp</url-pattern>
            <url-pattern>/altera-registroponto.jsp</url-pattern>
            <url-pattern>/estabelecimentos.jsp</url-pattern>
            <url-pattern>/exclui-estabelecimento.jsp</url-pattern>
            <url-pattern>/adiciona-estabelecimento.jsp</url-pattern>
            <url-pattern>/sucessoFer.jsp</url-pattern>
            <url-pattern>/exclui-funcionario.jsp</url-pattern>
            <url-pattern>/ferias.jsp</url-pattern>
            <url-pattern>/adm-logout.jsp</url-pattern>
            <url-pattern>/funcionarios.jsp</url-pattern>
            <url-pattern>/sucessoLog.jsp</url-pattern>
            <url-pattern>/exclui-ferias.jsp</url-pattern>
            <url-pattern>/sucessoFunc.jsp</url-pattern>
            <url-pattern>/sucessoEst.jsp</url-pattern>
            <url-pattern>/home.jsp</url-pattern>
            <url-pattern>/sucessoReg.jsp</url-pattern>
            <url-pattern>/registrosponto.jsp</url-pattern>
            <url-pattern>/exclui-login.jsp</url-pattern>
            <url-pattern>/sobre.jsp</url-pattern>
            <url-pattern>/altera-estabelecimento.jsp</url-pattern>
            <url-pattern>/altera-login.jsp</url-pattern>
            <url-pattern>/adiciona-funcionario.jsp</url-pattern>
            <url-pattern>/exclui-registroponto.jsp</url-pattern>
            <url-pattern>/adiciona-registroponto.jsp</url-pattern>
            <url-pattern>/adiciona-ferias.jsp</url-pattern>
            <url-pattern>/altera-ferias.jsp</url-pattern>
            <url-pattern>/logins.jsp</url-pattern>
            <el-ignored>false</el-ignored>
            <page-encoding>UTF-8</page-encoding>
            <include-prelude>/cabecalho.jspf</include-prelude>
        </jsp-property-group>
        <jsp-property-group>
            <display-name>Usuario</display-name>
            <url-pattern>/homeuser.jsp</url-pattern>
            <url-pattern>/registraentrada.jsp</url-pattern>
            <url-pattern>/registrasaida.jsp</url-pattern>
            <url-pattern>/sucessoEntrada.jsp</url-pattern>
            <url-pattern>/meus-registros.jsp</url-pattern>
            <url-pattern>/logout.jsp</url-pattern>
            <el-ignored>false</el-ignored>
            <page-encoding>UTF-8</page-encoding>
            <include-prelude>/cabecalhouser.jspf</include-prelude>
        </jsp-property-group>
    </jsp-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ServletRegistraEntrada</servlet-name>
        <servlet-class>servlets.ServletRegistraEntrada</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletRegistraEntrada</servlet-name>
        <url-pattern>/inserirEntrada</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletRegistraSaida</servlet-name>
        <servlet-class>servlets.ServletRegistraSaida</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletRegistraSaida</servlet-name>
        <url-pattern>/inserirSaida</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletAdicionaEstabelecimento</servlet-name>
        <servlet-class>servlets.ServletAdicionaEstabelecimento</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAdicionaEstabelecimento</servlet-name>
        <url-pattern>/adicionarEst</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletAlteraEstabelecimento</servlet-name>
        <servlet-class>servlets.ServletAlteraEstabelecimento</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAlteraEstabelecimento</servlet-name>
        <url-pattern>/alterarEst</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletExcluiEstabelecimento</servlet-name>
        <servlet-class>servlets.ServletExcluiEstabelecimento</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletExcluiEstabelecimento</servlet-name>
        <url-pattern>/excluirEst</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletAdicionaFerias</servlet-name>
        <servlet-class>servlets.ServletAdicionaFerias</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAdicionaFerias</servlet-name>
        <url-pattern>/adicionarFer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletAlteraFerias</servlet-name>
        <servlet-class>servlets.ServletAlteraFerias</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAlteraFerias</servlet-name>
        <url-pattern>/alterarFer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletExcluiFerias</servlet-name>
        <servlet-class>servlets.ServletExcluiFerias</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletExcluiFerias</servlet-name>
        <url-pattern>/excluirFer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletAdicionaRegistroPonto</servlet-name>
        <servlet-class>servlets.ServletAdicionaRegistroPonto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAdicionaRegistroPonto</servlet-name>
        <url-pattern>/adicionarRegistro</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletAlteraRegistroPonto</servlet-name>
        <servlet-class>servlets.ServletAlteraRegistroPonto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAlteraRegistroPonto</servlet-name>
        <url-pattern>/alterarRegistro</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletExcluiRegistroPonto</servlet-name>
        <servlet-class>servlets.ServletExcluiRegistroPonto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletExcluiRegistroPonto</servlet-name>
        <url-pattern>/excluirRegistro</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletAdicionaFuncionario</servlet-name>
        <servlet-class>servlets.ServletAdicionaFuncionario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAdicionaFuncionario</servlet-name>
        <url-pattern>/adicionarFunc</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletAlteraFuncionario</servlet-name>
        <servlet-class>servlets.ServletAlteraFuncionario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAlteraFuncionario</servlet-name>
        <url-pattern>/alterarFunc</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletExcluiFuncionario</servlet-name>
        <servlet-class>servlets.ServletExcluiFuncionario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletExcluiFuncionario</servlet-name>
        <url-pattern>/excluirFunc</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletAdicionaLogin</servlet-name>
        <servlet-class>servlets.ServletAdicionaLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAdicionaLogin</servlet-name>
        <url-pattern>/adicionarLog</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletAlteraLogin</servlet-name>
        <servlet-class>servlets.ServletAlteraLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAlteraLogin</servlet-name>
        <url-pattern>/alterarLog</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletExcluiLogin</servlet-name>
        <servlet-class>servlets.ServletExcluiLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletExcluiLogin</servlet-name>
        <url-pattern>/excluirLog</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ValidaLoginServlet</servlet-name>
        <servlet-class>servlets.ValidaLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidaLoginServlet</servlet-name>
        <url-pattern>/valida_login</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/pagina-nao-encontrada.jsp</location>
    </error-page>
</web-app>
